@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  transition: 0.2s linear;
  border: none;
  outline: none;
  color: white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 7%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
}
.logo {
  font-size: 2.5rem;
  font-weight: bolder;
}

.navegacion {
  display: flex;
  gap: 3rem;
}

.navegacion a {
  font-size: 1.8rem;
}

.navegacion a:hover {
  font-size: 2rem;
  border-bottom: 1px solid white;
}

.banner {
  height: 50rem;
  background: url("../images/pexels-sippakorn-yamkasikorn-3520690.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.header_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
  border-bottom: 1px solid gray;
}

.header_sec * {
  color: black;
}

.fondo-oscuro {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fondo-oscuro h2 {
  font-weight: 600;
  margin: 10rem 0 0 10rem;
  font-size: 5rem;
  text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.72);
}
.pasos * {
  color: black;
  text-align: center;
}

.pasos h3 {
  font-size: 2rem;
  text-align: left;
}

.pasos p{
  font-size: 2rem;
}

.pasos h2{
  font-size: 4.5rem;
} 

article {
  border-top: 1px solid gray;
  padding: 1rem;
  margin: 1rem;
}

article h3 {
  padding-bottom: 2rem;
}

.fila {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.fila .imagen {
  flex: 1 1 45rem;
}
.imagen img {
  height: 30rem;
  width: 50rem;
  object-fit: cover;
  object-position: center;
}
.fila .contenido {
  flex: 1 1 45rem;
  padding: 2rem;
  font-size: 1.2rem;
}

.historias *{
  color: black;
}

.contenededor{
  display: flex;
  justify-content: space-between;
}

.pIzquierdo{
  padding: 2rem;
  font-size: 2rem;
  text-align: right;
}

.pDerecho{
  padding: 2rem;
  font-size: 2rem;
  text-align: left;
}

.historiasTitulo {
  text-align: center;
  font-size: 4.5rem;
}

.historiasContenido {
  text-align: center;
  font-size: 2rem;
}

.historiasH2Izq {
  text-align: left;
  font-size: 4rem;
}

.historiasH3Izq {
  text-align: left;
  font-size: 2rem;
}

.historiasH2Der {
  text-align: right;
  font-size: 4rem;
}

.historiasH3Der {
  text-align: right;
  font-size: 2rem;
}

.historiasImageIzq{
  max-width: 250px;
  margin-right: auto;
  display: block;
}

.historiasImageDer{
  max-width: 250px;
  margin-left: auto;
  display: block;
}

.tabla *{
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  vertical-align: bottom;
}

.fila_resaltada{
  background-color:lightgrey;
}

.footer{
  color: black;
  font-size: 1.2rem;
}

td, th {
  border: 1px solid lightgrey;
  padding: 8px;
}


